body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.name {
  color: orange;
}
.flex-contain {
  display: flex;
  margin-bottom: 90px;
}
.first-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.divsize {
  width: 50%;
  padding-left: 60px;
  margin-top: 20px;
  padding-right: 140px;
}
.divsize img {
  width: 100%;
}
#text {
  text-align: justify;
}
.university {
  text-decoration: none;
  color: green;
  font-weight: 800;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  border-radius: 5px;
  padding: 10px 40px;
  color: white;
  font-weight: 700;
}
.second-section {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.training-certificates {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.carddiv {
  width: 50%;
  margin-left: 7%;
  margin-right: 5%;
  padding: 30px;
  padding-bottom: 180px;
  box-shadow: 10px 10px 35px gray;
  border-radius: 10px;
}
#cardborder1 {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#cardborder2 {
  border-left: 7px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
